*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    line-height: 1.6;
}

header { 
box-shadow: 0 2px 5x rgba (0,0,0,0.1);
}

nav{
display:flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
max-width: 1200px;
margin: 0 auto;
}

#hero {
padding-top: 2rem;
min-height: 100vh;
background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/fondo.jpeg.webp');
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
color: white;
padding: 0 1rem;
}